#profile {
  border-radius: 60%;
  position: relative;
  top: 70px;
  height: 235px;
  width: 250px;
}

#aside{
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

#centered-aside {
  margin: auto;
  padding: 10px;
  border: black;
}